[Unit]
Description=Discord Birthday Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/discord-birthday-bot
ExecStart=/usr/bin/node dist/index.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production
EnvironmentFile=/root/discord-birthday-bot/.env

[Install]
WantedBy=multi-user.target
